@charset "utf-8";

/* ==========================================================================
   import
   ========================================================================== */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* ==========================================================================
   Base styles & Helper
   ========================================================================== */

@import url(./animated.min.css);

/* base */
html{font-size:14px;}
body{font:normal 1rem/1.5 "나눔고딕", NanumGothic,'Nanum Gothic', sans-serif;color:#333;word-break: keep-all;}
fieldset,ul, ol, dl, dt, dd, p, button ,figure{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6, strong, b, th, dt{font-weight: bold;}
h1{font-size:2rem;}
h2{font-size:1.5rem;}
h3{font-size:1.25rem;}
h4{font-size:1.17rem;}
h5,h6{font-size:1rem;}
legend, caption{width:0;height:0;font-size:0;line-height:0;}
a{text-decoration:none;color:inherit;}
a[href^="tel"]{cursor: default;}
a:hover{text-decoration:none;}
img{vertical-align:middle;border: 0 none;}
fieldset, button{background:none;border:0px;}
ul:after,ol:after{content:'';display:block;clear:both;}
li{list-style:none;}
table{width:100%;border-spacing:0px;border-collapse:collapse;font-size:1rem;}
iframe{width:100%;vertical-align:middle;border:0 none;}
hr{margin:1em 0;border:0 none;height:1px;background:#ccc;}
button, input, optgroup, select, textarea{font-family:inherit;}


/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar{width:8px;height:8px;border:3px solid #fff;}
::-webkit-scrollbar-track{background:#efefef;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb{height:50px;width:50px;background:rgba(0,0,0,.2);-webkit-border-radius:8px;border-radius:8px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.1)}

/* ==========================================================================
   common
   ========================================================================== */

.fa{vertical-align:middle;}
.hide{display:none;}
.blind{position:absolute;overflow:hidden;visibility:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}

.t_red{color:#dd0000;}
.t_blue{color: #0072c2;}
.t_link{color: #0072c2;text-decoration: underline;}
.t_link:hover{text-decoration: underline;}
.fz_up{font-size:1.125em;}
.fz_up2{font-size:1.25em;}
.fz_dw{font-size:0.875em;}
.fz_dw2{font-size:0.75em;}

.t_left{text-align:left !important;}
.t_center{text-align:center !important;}
.t_right{text-align:right !important;}

.cont_tit{margin:2em 0 0.85em;}
.cont_tit:first-child{margin-top:0;}

.hr{margin: 3em 0;background: #ccc;}
.img{display:block;}
.img img{max-width: 100%;}
.img_box{display:inline-block;max-width: 100%;box-sizing:border-box;padding:1em;background: #f1f1f1;border: 1px solid #ccc;margin:1em 0;}
.img_box figcaption{display: block;margin-top: 0.5em;padding:0.2em;background:#eaeaea;}
.img_box img{max-width: 100%;}

/* ==========================================================================
   Layout
   ========================================================================== */

#wrap{min-width:320px;}
#header{padding-top:1.5em;color:#fff;background-color:#292c35;}
#header h1{margin:0;color:#fff;}
#header h1 a{color:#fff;}
.gnb_wrap{height:48px;margin-top:1.5em;background: #fff;border-bottom: 1px solid #292c35;overflow: hidden;}
#gnb{overflow:auto;width:1100px;margin:0 auto;font-size: 1.125em;}
#gnb ul{display:table;width:100%;}
#gnb ul li{display: table-cell;padding:0 5px;}
#gnb ul li:first-child{padding-left: 10px;}
#gnb ul li:last-child{padding-right: 10px;}
#gnb ul li a{position:relative;display:block;color:#fff;padding:0px 1em;height:48px;background:rgba(255,255,255,0.5);color:#000;font-weight:600;text-align:center;white-space: nowrap;}
#gnb ul li a > span{position:relative;display:inline-block;vertical-align:middle;opacity:0.5;transition:0.5s;line-height:1.1;z-index:1;}
#gnb ul li a i{font-style:normal;}
#gnb ul li a:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
#gnb ul li a:after{content:'';display:block;width:100%;height:3px;position:absolute;left:0;bottom:1px;background:#ccc;opacity:0;transform:scale(0.3);transition:all .5s ease;}
#gnb ul li a:hover,
#gnb ul li.on > a{color:#0072c2;}
#gnb ul li:hover a > span,
#gnb ul li.on a > span{opacity:1;}
#gnb ul li:hover a:after,
#gnb ul li.on a:after{opacity:1;transform:scale(1);background:#00b4f1;}
.gnb_wrap.fixed > div{position:fixed;left:0;top:0;width:100%;box-shadow:0 0 5px #666;z-index:10;background: #fff;}
#contents{}
.inner{position:relative;width:1100px;padding:0 15px;margin:0 auto;}
#contents > .inner,
.section > .inner{padding-top: 2em;padding-bottom: 2em;}
.section.even{background:#f1f1f1;}
#footer{text-align:center;padding-top:30px;background-color:#292c35;}
#footer a{display:inline-block;color:#fff;margin:0 10px;font-size:2em;transition:font-size .5s ease}

/* ==========================================================================
   component
   ========================================================================== */
/* skip_Navi */
#skipNavi a{display:block;position:fixed;left:0;top:-300px;width:150px;text-align:center;color:#fff;background:#000;z-index:1000;}
#skipNavi a:focus, #skipNavi a:hover{top:0px;}

/* toTop */
#toTop{display:none;position:fixed;right:10px;bottom:10px;width:60px;height:60px;text-align:center;font-size:30px;color:#fff;background:#4975db;opacity:0.7;border-radius:100%;transition:all 0.5s ease;z-index:100;}
#toTop .fa{vertical-align:top;margin-top:15px;transition:margin 0.5s ease;}
	#toTop:hover, #toTop:focus, #toTop.hover{opacity:1;}

/* 버튼 */
.button{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;padding:5px 15px;font-size:14px;line-height:1.5;color:#333;border-radius:3px;text-shadow:0 1px 0 #fff;background-color:#fff;background-repeat:repeat-x;border:1px solid #ccc;cursor:pointer;
	-ms-touch-action:manipulation; 
	touch-action:manipulation;	
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:-webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image:-o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
	background-image:linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.button:hover, .button:focus{background-color:#e0e0e0;background-position:0 -15px;border-color:#adadad;}
.button:active{transform:scale(0.95);}

.tbl_wrap{overflow:hidden;}
.table{width:100%;background:#fff;font-size:0.875em;border-top:1px solid #222;}
.table th, .table td{padding:0.5em;word-break:break-all;border:1px solid #ddd;}
.table th{background:#f8f8f8;color:#222;}
.table thead tr:first-child th{border-top-color:#222;}

.dot_list{padding-left:1.5em;margin: 1em 0;}
.dot_list li{padding: 0.3em 0;list-style-type: disc;}

.btn_wrap{text-align: center;padding: 1em 0;}
.btn_wrap .btn{margin: 0.3em;}

.tab_cont{display:none;}
/* ==========================================================================
   contents
   ========================================================================== */


.tabmenu{margin-bottom:2em;}
.tabmenu:after{content:'';display:block;clear:both;}
.tabmenu ul{float:left;padding:0.6em 0;}
.tabmenu li{float:left;}
.tabmenu li + li{border-left:1px solid #ddd;}
.tabmenu li a{display:block;padding:0 1em;line-height:1;font-weight:bold;font-size:0.875em;}
.tabmenu li.on a{color:#ea8200;}
.tabmenu .btn{float:right;}

.tabmenu2{overflow:hidden;}
.tabmenu2 li{float:left;margin:5px;}
.tabmenu2 a{display:inline-block;padding:0.25em 0.75em;border:1px solid #d9d9d9;font-size:0.875em;}
.tabmenu2 .on a{background:#5b0000;border-color:#5b0000;color:#fff;}
.tabmenu2 .on.cate1 a{background:#720000;border-color:#720000;}
.tabmenu2 .on.cate2 a{background:#890000;border-color:#890000;}
.tabmenu2 .on.cate3 a{background:#a00000;border-color:#a00000;}
.tabmenu2 .on.cate4 a{background:#b70000;border-color:#b70000;}
.tabmenu2 .on.cate5 a{background:#ce0000;border-color:#ce0000;}
.tabmenu2 .on.cate6 a{background:#e50000;border-color:#e50000;}
.tabmenu2 .on.cate7 a{background:#e71919;border-color:#e71919;}
.tabmenu2 .on.cate8 a{background:#ea3232;border-color:#ea3232;}
.tabmenu2 .on.cate9 a{background:#ec4c4c;border-color:#ec4c4c;}
.tabmenu2 .on.cate10 a{background:#ef6666;border-color:#ef6666;}

.grid_list{margin:0 -10px;padding:2em 0;}
.grid_list > li{float:left;width:33.33%;padding:0 10px 20px;box-sizing:border-box;}
.grid_list .box{border:1px solid #ccc;background:#f3f2ed;}
.grid_list .box ul{padding:0.5em 1em;}
.grid_list .box ul li{padding: 0.25em 0;}
.grid_list > li:hover .box{box-shadow:0 0 20px #aaa;}
.grid_list .img{display:block;position:relative;border:1px solid #ddd;background:#fff;overflow:hidden;box-shadow:0 0 5px #ddd;}
.grid_list .img i{position:absolute;left:1em;top:1em;font-size:0.875em;font-style:normal;background:#720000;padding:0 1em;border-radius:1em;color:#fff;}
/* #e50000 */
.grid_list .cate2 .img i{background:#890000;}
.grid_list .cate3 .img i{background:#a00000;}
.grid_list .cate4 .img i{background:#b70000;}
.grid_list .cate5 .img i{background:#ce0000;}
.grid_list .cate6 .img i{background:#e50000;}
.grid_list .cate7 .img i{background:#e71919;}
.grid_list .cate8 .img i{background:#ea3232;}
.grid_list .cate9 .img i{background:#ec4c4c;}
.grid_list .cate10 .img i{background:#ef6666;}
.grid_list .img img{width:100%;transition:all 5s ease;}
.grid_list .img:hover img{transform:scale(1.1)}
.grid_list .img .tit{position:absolute;left:0;bottom:0;width:100%;height:50%;background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.7),transparent);background:linear-gradient(to top, rgba(0,0,0,0.7),transparent);}
.grid_list .tit strong{display:block;position:absolute;left:0;right:0;bottom:0;padding:0.5em 0.75em;color:#fff;font-weight:bold;font-size:1.125em;}

.intro .fa{margin-right:0.75em;}
.intro p + p,
.intro p + dl{margin-top:1em;}
.intro .txt{padding-top:3em;}
.intro .txt2{overflow:hidden;margin-top:3em;}
.intro .txt2 > div{float:left;width:48%;}
.intro .txt2 > div + div{float:right;}
.intro .txt2 > div p{padding-left:1em;border-left:4px solid #ddd;}

.dl_list{padding:1em;background:#f1f1f1;border-radius:1em;}
.dl_list dl{padding:1em 0.75em;overflow: hidden;}
.dl_list dl + dl{border-top:1px solid #eee;}
.dl_list dt{display:block;float:left;width:300px;font-weight:bold;color:#dd0000;}
.dl_list dt.only{float: none;width: auto;}
.dl_list dt a{color:#dd0000;}
.dl_list dt .fa{margin-left:0.5em;}
.dl_list dd{position:relative;margin-left:300px;padding:0 10px;color:#555;}
.dl_list dd:before{content:'';display:block;height:10px;width:1px;position:absolute;left:0;top:6px;background:#ccc;}
.dl_list2{margin-bottom:1em;}
.dl_list2 dt{background: #f1f1f1;padding:0.5em 1em;font-weight: bold;color:#222;}
.dl_list2 dt > a{display:block;}
.dl_list2 dt + dt{margin-top: 1em;}
	.section.even .dl_list2 dt{background: #fff;}
.dl_list2 dd{padding: 1em;margin-bottom: 1em;}
.dl_list2 dd:last-child{margin-bottom:0;}

.box_cont{padding:1em;border:1px solid #ddd;}

.commont_wrap{position:relative;background: #f1f1f1;padding:1.5em;border: 1px solid #ccc;border-radius: 1em;margin-top: 2em}
.commont_wrap .arr,
.commont_wrap .arr:before{display: block;position:absolute;left:50%;top:-16px;border: 1px solid transparent;border-width:0 8px 16px;border-bottom-color: #ccc;margin-left: -8px;}
.commont_wrap .arr:before{content:'';top:1px;border-bottom-color: #f1f1f1;}
.section.even .commont_wrap{background:#fff;}
.section.even .commont_wrap .arr:before{border-bottom-color: #fff;}

.modal{display:none;position:fixed;z-index:101;padding:20px;left:0;top:0;right:0;bottom:0;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.9);}
.modal-content{text-align:center;}
.modal-content img{max-width:100%}
.modal .caption{text-align:center;color:#ccc;margin:0 2em;padding-bottom:0.75em;font-size:1.25em;font-weight:bold;}
.modal-content, .modal .caption{animation-name:zoom;animation-duration:0.6s;}
@keyframes zoom{
	from{transform:scale(0)} 
	to {transform:scale(1)}
}
.modal .close{position:absolute;top:10px;right:20px;color:#f1f1f1;font-size:40px;font-weight:bold;transition:0.3s;cursor:pointer;border:none;background:none;display:inline-block;}
.modal .close:hover,.close:focus{color:#bbb;}

.owl-carousel .item{position:relative;height:400px;background: #eaeaea;border-radius: 20px;box-sizing:border-box;border: 1px solid #ccc;}
.owl-carousel .item:before{content:'';position: absolute;top:5px;right:5px;bottom:5px;left:5px;border: 5px solid #fff;border-radius: 20px;}
.owl-carousel .item dl{width:90%;position:absolute;top:50%;left:5%;text-align:center;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.owl-carousel .item dt{font-size:1.8em;margin-bottom:0.5em;line-height:1.2;color: #000;}
.owl-carousel .item dd{color: #999;}
.owl-carousel .owl-nav{display:none;}
.owl-carousel .owl-dots{text-align:center;margin-top:1em;}
.owl-carousel .owl-dots .owl-dot{display:inline-block;width:10px;height:10px;background:#ddd;margin:0 5px;border-radius:10px;transition:all 0.3s;}
.owl-carousel .owl-dots .owl-dot.active{background: #dd0000;width:30px;}
.owl-animated-out{z-index:1}
.owl-animated-in{z-index:0}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width:1130px){
	.inner{width:auto;}
	#gnb{width:auto;}
}
@media only screen and (max-width:760px){
	html{font-size:12px;}
	.m_none{display:none;}
	.gnb_wrap{height:40px;}
	#gnb ul li a{font-size:11px;height:40px;padding:0 0.5em;}
	.gnb_wrap.fixed > div{height:40px;overflow: hidden;}	
	.inner{padding-left:10px;padding-right:10px;}
	#footer{padding:1em 0;}
	#footer strong{display: block;}
	.table th, .table td{padding:0.5em 0.2em;font-size:0.75em;}
	.tbl_wrap{overflow-x:auto;}
	.tbl_wrap::-webkit-scrollbar{-webkit-appearance:none;}
	.tbl_wrap .table{width:auto;min-width:100%;}
	.tbl_wrap .table th,
	.tbl_wrap .table td{white-space:nowrap;}
	
	.grid_list{margin:0 -5px;}
	.grid_list > li{float:left;width:50%;padding:0 5px 20px;}
	.grid_list .box ul{padding:5px;}
	.grid_list .img img{min-height:100px;}

	#toTop{width:40px;height:40px;font-size:20px;}
	#toTop .fa{margin-top:9px;}

	.button{padding:1px 5px;font-size:12px;}

	.intro .txt2 > div{float:none;width:auto;}
	.intro .txt2 > div + div{float:none;}

	.owl-carousel .item{height:250px;}
}
@media only screen and (max-width:480px){
	
}
